@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/background.jpg");
  background-size: cover;
  aspect-ratio: 4/3;
  background-repeat: no-repeat;
  font-family: 'Montserrat Variable', sans-serif !important;
}